#ds123-launcher {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 60px;
    height: 60px;
    z-index: 9000;
    background-size: 42px;
    background-color: #17c1dc;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    cursor: pointer;
    transition: all 150ms;
}

#ds123-launcher:hover {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
}

#ds123-launcher:active {
    transform: scale(0.98);
    transition: none;
}

#ds123-loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 1rem;
    font-size: 1.2rem;
    position: fixed;
    left: 50%;
    top: 50%;
    min-width: 25%;
    transform: translate(-50%, -50%);
    background-color: #222;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: 3px solid #85a2b699;
    color: #999;
    z-index: 9999999999;
    transition: opacity 200ms;
}
